    html {
        scroll-behavior: smooth;
    }

* {
    margin: 0;
    padding: 0;
}

html, body {
     max-width: 100%;
     overflow-x: 0;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
    height: 60px;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto 0;
}

nav h1 {
    margin-left: 2.5%;
}

nav ul {
    display: flex;
    gap: 10px;
    margin-right: 2.5%;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

nav ul li {
    list-style: none;
}

/* bagian foto profil */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 80px 0;
    background-color: rgb(205, 77, 77);
}

.profile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid black;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.profile-container h2 {
    margin-top: 20px;
    font-size: 2.5rem;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.profile-container p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

/* About */
.about {
    padding: 100px 10% ;
    background-color:  rgb(205, 77, 77);
    display: flex;
    justify-content: center;
}

.about-container {
    display: flex;
    align-items: center;
    gap: 50px;
    max-width: 1000px;
}

.about-img img {
    width: 375px;
    border-radius: 15px;
    box-shadow: 0 10px 20px grey;
}

.about-text {
    flex: 1;
}

.about-text h2 {
    flex: 1;
    margin-bottom: 20px;
    color: #333;
}

.about-text p{
    font-size: 1.5rem;
    line-height: 1.8;
    color: black;
    text-align: justify;
    margin-top: 10px;
}

/*Animasi saat layar di perkecil*/

@media (max-width: 768px) {
    .about-container{
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .about-img {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 30px;
    }
    
    .about-img img {
        width: 100%;
        max-width: 300px;
        height: auto;
        border-radius: 15px;    
    }  

    .about-text {
        text-align: center;
        font-size: 1.2rem;
    }
}

/* Hamburger Menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -6.5px;
    top: -5px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: rgb(36, 17, 17);
    border-radius: 3px;
    transition: 0.5s;
}

/* Hamburger Menu Animation */
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~span:nth-child(2) {
    transform: rotate(45deg)translate(-1px, -1px);
}
.menu-toggle input:checked ~span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~span:nth-child(3) {
    transform: scale(0);
}

/* ukuran tablet */
@media screen and (max-width: 768px) {
    nav ul {  
        width: 50%;
    }
}

/* ukuran mobile */
@media screen and (max-width: 576px) {
    .menu-toggle {
        display: flex;
        z-index: 1000;
        margin-right: 20px;
    }

    .menu-toggle input:checked ~ span {
        background-color: white;
    }
    
    nav ul {
        position: fixed;
        right: 0;
        top: 0;
        width: 70%;
        height: 100vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color:  rgb(150, 20, 20);
        z-index: 10;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
    }

    nav ul.slide {
        opacity: 1;
        transform: translateX(0);
    }

    nav ul li {
        margin: 15px 0;
    }

    nav ul li a {
        font-size: 2rem;
        color: white; /* Ubah ke putih agar terlihat jelas */
        font-weight: bold;
    }
}

/* Projects */
.projects {
    padding: 80px 10%;
    background-color: rgb(205, 77, 77);
    text-align: center;
}

.projects h2 {
    margin-bottom: 40px;
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

/* kontainer flexbox */
.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

/* stylingf card */
.projects-card {
   display: flex;
   align-items: center;
   gap: 50px;
   max-width: 1000px;
   width: 100%;
   background-color: transparent;
   box-sizing: border-box;
}

.projects-card img {
    width: 375px;
    height: auto;
    border-radius: 30px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
    object-fit: cover;
}

.projects-info {
    flex: 1;
    text-align: justify;
}

.projects-info p {
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.8;
    color: black;
}

/* responsif ketika laayra di perkecil */
@media screen and (max-width: 768px) {
    .projects-card {
        flex-direction: column;
        text-align: center;
        gap: 20px;
        width: 100%;
        padding: 0 10px;
    }

    .projects-card img {
        width: 100%;
        max-width: 320px;
        border-radius: 25px;
    }

    .projects-info {
        width: 100%;
    }

    .projects-info p{
        font-size: 1.2rem;
        text-align: center;
    }
}

/* Hobby */
#Hobby {
    background-color: rgb(205, 77, 77);
    color: black;
    padding: 80px 20px;
    min-height: 100vh;
}

.hobby-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 40px;
    max-width: 1200px;
    width: 100%;
    margin: 40px auto;
}

.hobby-card {
    flex: 1;
    min-width: 300px;
    max-width: 350px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 20px;

    /* animasi masuk */
    animation: fadeInUp 1s ease forwards;
    opacity: 0;
}

/* Delay animasi */
.hobby-card:nth-child(1) { animation-delay: 0.2s;}
.hobby-card:nth-child(2) { animation-delay: 0.4s;}
.hobby-card:nth-child(3) { animation-delay: 0.6s;}

.hobby-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
}

.hobby-card:hover img {
    transform: scale(1.05);
}

.section-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.hobby-card p {
    line-height: 1.8;
    font-size: 1.3rem;
    text-align: justify;
    margin: 0;
}

/* Keyframes Animasi */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Contact */
#Contact {
    background-color: rgb(205, 77, 77);
    color: black;
    padding: 20px 20px 60px 20px;
    min-height: auto;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.contact-section {
    padding: 80px 0;
    background-color: white;
    display: flex;
    justify-content: center;
}

.contact-container {
    width: 100%;
    max-width: 500px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 10px;
    overflow: hidden;
}

.contact-title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
    font-size: 2rem;
    color: white;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.form-group textarea {
    height: 120px;
    resize: vertical;
    max-width: 100%;
}

.btn-kirim {
    background-color: rgb(38, 128, 231);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.btn-kirim:hover {
    background-color: rgb(28, 100, 180);
}

/* Section contact responsif */
@media (max-width: 768px) {
    #Contact {
        padding: 20px 15px 40px 15px;
    }

    .contact-container {
        width: 90%;
        padding: 20px;
    }

    .contact-title {
        font-size: 1.6rem;
        margin-bottom: 20px;
    }

    .form-group label {
        font-size: 13px;
    }

    .btn-kirim {
        width: 100%;
        padding: 12px;
    }
}

/* Section Footer!!! */
.main-footer {
    background-color: red;
    color: black;
    padding: 30px 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-content p{
    margin-bottom: 15px;
    font-size: 14px;
    opacity: 0.8;
}

.MySocialMedia a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
    transition: color 0.3 ease;
}

.MySocialMedia a:hover {
    color: rgb(194, 40, 40);
    text-decoration: none;
}

/* Footer Responsif */
@media ( max-width: 768px) {
    .main-footer {
        padding: 20px 10px;
    }

    .MySocialMedia a {
        display: inline-block;
        margin: 5px 10px;
    }
}